//текст
.chapter_6-text1 {
  font-family: "Amatic";
  font-size: 38.9px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.39;
  letter-spacing: 1.54px;
  text-align: left;
  color: #452a31;
}
.chapter_6-text2 {
  font-family: "Montserrat";
  font-size: 16.54px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.24;
  letter-spacing: normal;
  text-align: left;
  color: #3d3d3d;
}
.chapter_6-text3 {
  font-family: "Montserrat";
  font-size: 12.5px;
  line-height: 45px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  color: #ffffff;
}

//позиционирование
.chapter_6 {
  .exa {
    margin: 0px 0px 0px 0px;
  }
  .column_1 {
    width: 354px;
    margin: 00px 5px 85px 151px;
    .point-size_1 {
      margin:  0px 0px 0px 100px;
      position: relative;
      width: 330px;
      height: 322px;
    }
  }
  .column_2 {
    margin: 40px 160px 0px -10px;
    width: 537px;
    .point-size_1 {
      width: 430px;
      margin: 2px 0px 10px 0px;
    }
    .point-size_2 {
      width: 565px;
      margin: 16px 0px 0px 1px;
    }
    .point-size_3 {
      width:213px;
      padding: 4px 27px 4px 26px;
      margin: 28px 0px 0px 0px;
    }
  }
}
