@font-face {
  src: url("../dist/fonts/Amatic_SC/AmaticSC-Bold.ttf") format("woff2");
  font-family: "Amatic SC";
  font-weight: 700;
  font-style: normal; }

@font-face {
  src: url("../dist/fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf") format("Montserrat");
  font-family: "roboto-wt";
  font-weight: 300;
  font-style: normal; }

@font-face {
  src: url("../dist/fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf") format("Montserrat");
  font-family: "Montserrat";
  font-weight: 500;
  font-style: normal; }

@font-face {
  src: url("../dist/fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf") format("Montserrat");
  font-family: "Montserrat";
  font-weight: 700;
  font-style: normal; }
