.chapter_2 {
  .exa_background {
    z-index: 3;
    width: 100%;
    height: 500px;
  }
  .exa {
    padding: 115px 00px 60px 0px; /* отступ сверху низу */
  }
  .column_1 {
    width: 475px;
  }
  .column_2,
  .column_3 {
    width: 433px;
  }
  .column_3 {
    margin: 0px 00px 0px 75px;
  }
  .column_1 {
    .point-size_1 {
      width: 475px;
      height: 472px;
      position: relative;
      &:before {
        content: "";
        background: url("./../images/9.png") 0 0/100% no-repeat;
        position: absolute;
      
        z-index: 99;
        width: 237px;
        height: 177px;
        top: 484px;
        left: 38px;
      }
    }
    img {
      position: absolute;
      left: -21px;
      top: -42px;
    }
  }
  .column_2 {
    .point-size_2 {
      width: 440px;
      height: 430px;
      position: relative;
      left: 90px;
      margin: 80px 0px 0px 0px;
    }
  }
  .column_3 {
    .point-size_3 {
      width: 350px;

      position: relative;
      margin: 56px 0px 0px 0px;
    }
  }
}

.chapter_2-text1 {
  position: absolute;
  z-index: 9;
  top: 60px;
  left: 220px;
  font-family: "Montserrat";
  font-size: 41.7px;
  line-height: 45px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  color: #452a31;
  p:nth-child(2) {
    margin: 10px 0px 0px 0px;
    font-size: 100px;
    letter-spacing: -0.02em;
    color: #2ea2d0;
    span {
      text-transform: lowercase;
    }
  }
}
.chapter_2-text2 {
  font-family: "Montserrat";
  font-size: 20.9px;
  line-height: 33px;
  font-weight: 400;
  color: #3d3d3d;
}
.chapter_2-text3 {
  margin: 20px 00px 0px 0px;
  font-family: "Montserrat";
  font-size: 16.7px;
  line-height: 33px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.16em;
  color: #2ea2d0;
}
