.wra {
  min-height: 100%;
}
.chapter_1 {
  .exa_background {
    z-index: 3;
    width: 100%;
    height: 657px;
    background: linear-gradient(
      87deg,
      rgba(186, 223, 241, 1) 0%,
      rgba(113, 171, 198, 1) 100%
    );
  }
  .exa {
    padding: 200px 0px; /* отступ сверху низу */
  }
}
/* главный блок */

/* блок для ограничения*/
.exa_cont {
  padding: 0px 15px; /* отступ безопасности слева справа */
  margin: 0px auto; /* выравнивания по центру */
  max-width: 200.625rem; /* максимальная ширена ограничешего контейнера по макету 1020рх+отступ по 15 с стороны тойсть 30рх и эио разделить на 16 размер шривта по умалчанию */
  position: relative; /* чтобы относительно его позиционирывать */
}

.exa_items {
  display: flex;
  flex-wrap: wrap;
  grid-row-gap: 12px;
  margin: 0px -12px;
  justify-content: space-between;
}
.exa_item {
  padding: 0px 12px;
  flex: 1 1 auto;
  min-width: 350px; /* 290 на 16размер шривта */
}
.chapter_1 {
  .column_1,
  .column_2,
  .column_3 {
    width: 445px;
  }
  .column_3 {
    margin: 0px 00px 0px 75px;
  }
  .column_1 {
    .point-size_1 {
      width: 491px;
      height: 472px;
      position: relative;

      left: 3%;
      transform: translate(2%, 40px);
    }
  }
  .column_2 {
    .point-size_2 {
      width: 570px;
      height: 430px;
      position: relative;
      left: -20px;
    }
    .point-size_3 {
      position: relative;
      width: 424px;
      height: 312px;
      margin: 20px 20px 20px 20px;
      &:before {
        content: "";
        background: url("./../images/5.png") 0 0/100% no-repeat;
        position: absolute;
        right: 30px;
        width: 565px; /* 153 ширена по макету делим на блок 1050 и умнажаем на 100 */
        padding-top: 152px; /* 241 высота по макету делим на блок 1050 и умнажаем на 100 */
        top: 10px;
        left: -50px;
      }
    }
  }
  .column_3 {
    .point-size_4 {
      width: 447px;
      height: 490px;
      position: relative;
      left: 103%;
      transform: translate(-100%, -7%);
    }
  }
}

.chapter_1-text1 {
  margin: 0px 0px 0px 50px;
  font-family: "Amatic";
  font-size: 41.7px;
  line-height: 45px;
  font-weight: 700;
  color: #452a31;
  width: 300px;
  span {
    color: #0072a8;
  }
}
.chapter_1-text2 {
  width: 360px;
  position: absolute;
  top: 17%;
  font-weight: 200;
  left: 50px;
  font-family: "Amatic";
  font-size: 66.3px;
  line-height: 1.2;
  font-weight: 700;
  color: #0072a8;
  transform: rotate(-10deg);
  transform-origin: 225px 0px 145px;
  span {
    margin-top: 50px;
    margin-left: 70px;
  }
}

@media (max-width: 1438px) {
  .exa_item {
    flex: 0 0 auto;
  }
  .chapter_1 .exa_background {
    height: 1139px;
  }
  .chapter_1 .column_3 {
    position: relative;
    left: 30vw;
  }
  .chapter_1 .column_2 .point-size_2 {
    left: -140px;
  }
  .chapter_1 .column_2 {
    margin: 0px 00px 0px 10px;
    margin: 0px 00px 0px 115px;
  }
}
