@font-face { src: url("../fonts/Amatic_SC/AmaticSC-Bold.ttf") format("woff2"); font-family: "Amatic"; font-weight: bold; font-style: normal; }

@font-face { src: url("../fonts/Montserrat/Montserrat-Regular.ttf") format("woff2"); font-family: "Montserrat"; font-weight: 400; font-style: normal; }
@font-face { src: url("../fonts/Montserrat/Montserrat-SemiBold.ttf") format("woff2"); font-family: "Montserrat"; font-weight: 600; font-style: normal; }
@font-face { src: url("../fonts/Montserrat/Montserrat-Bold.ttf") format("woff2"); font-family: "Montserrat"; font-weight: 700; font-style: normal; } 
