@font-face { src: url("../fonts/Amatic_SC/AmaticSC-Bold.ttf") format("woff2"); font-family: "Amatic"; font-weight: 700; font-style: normal; }

@font-face { src: url("../fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf") format("Montserrat"); font-family: "Montserrat"; font-weight: 400; font-style: normal; }
@font-face { src: url("..fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf") format("Montserrat"); font-family: "Montserrat"; font-weight: 600; font-style: normal; }
@font-face { src: url("..fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf") format("Montserrat"); font-family: "Montserrat"; font-weight: 700; font-style: normal; } 
